<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The 15th European Workshop on Reinforcement Learning</h2>
                </div>
            </div>
            <div class="row container">
                <p><b>Dates:&nbsp;&nbsp;&nbsp; September 2022  </b><br>
                    <b>Location:&nbsp; Milan, Italy</b><br>
                    <!-- [<a href="#describe">description</a>] 
                    [<a href="#submit">submission</a>] 
                    [<a href="#dates">dates</a>] 
                    [<a href="#committees">committees</a>] 
                    [<a href="#keynotes">keynotes</a>] 
                    [<a href="#accepted">papers</a>] 
                    [<a href="#register">registration</a>]
                    [<a href="#venue">venue</a>] 
                    [<a href="#schedule">schedule</a>] 
                    [<a href="#photos">photos</a>] 
                    [<a href="#sponsors">sponsors</a>]</p> -->
                    <h3 id="description">Description</h3>
                    <p class="has-text-align-justify">The 15th European workshop on reinforcement learning (EWRL 2020) invites reinforcement learning researchers to participate in the revival of this world class event. We plan to make this an exciting event for researchers worldwide, not only for the presentation of top quality papers, but also as a forum for ample discussion of open problems and future research directions.</p>
                    <p>Reinforcement learning is an active field of research which deals with the problem of sequential decision making in unknown (and often) stochastic and/or partially observable environments. Recently there has been a wealth of both impressive empirical results, as well as significant theoretical advances. Both types of advances are of significant importance and we would like to create a forum to discuss such interesting results.</p>
                    <p>The workshop will cover a range of sub-topics including (but not limited to):</p>
                    <ul>
                        <li>Exploration-Exploitation in RL</li>
                        <li>Policy search/optimization methods</li>
                        <li>Partially observable RL</li>
                        <li>Multi-agent RL</li>
                        <li>Multi-objective RL</li>
                        <li>Non-stationary RL</li>
                        <li>Risk-sensitive and robust RL</li>
                        <li>RL in applications/Real-life RL</li>
                        <li>Deep RL</li>
                        <li>Tranfer/multi-task/meta-RL</li>
                        <li>Safe RL</li>
                        <li>Hierarchical RL</li>
                        <li>Lifelong/continual RL</li>
                        <li>Imitation Learning and Inverse RL</li>
                        <li>Online learning and Multi-armed Bandits</li>
                    </ul>
                    <h3 id="paper-submission">Paper Submission</h3>
                    <p>We invite submissions for the 15th European Workshop on Reinforcement Learning (EWRL 2020) from the entire reinforcement learning spectrum. Authors can submit a 2-6 pages paper in JMLR format (excluding&nbsp;references) that will be reviewed by the program committee in a double-blind procedure. The papers can present new work or give a&nbsp;summary of recent work of the author(s). All papers will be considered&nbsp;for the poster sessions. Outstanding long papers (4-6 pages) will also be considered for a 20 minutes oral presentation. One paper will be selected for the best paper award. <em>There will be no proceedings of EWRL15.</em></p>
                    <ul>
                        <li><b>Submission deadline:</b>  (TBA)</li>
                        <li><b>Page limit:</b> 2-6 pages (excluding references)</li>
                        <li><b>Paper format:</b> JMLR</li>
                        <li><b>Paper Submissions:</b> TBA</li>
                        <li><b>All submissions are to be anonymous!</b> </li>
                    </ul>
                    <h3 id="important-dates">Important Dates</h3>
                    <ul>
                        <li>Paper submissions due: TBA</li>
                        <li>Notification of acceptance: TBA </li>
                        <li>Camera ready due: TBA</li>
                        <li>Poster submission due: TBA</li>
                        <li>Workshop begins: 07 - Sep - 2020</li>
                        <li>Workshop ends: 09 - Sep - 2020</li>
                    </ul>
                    <h3 id="organizing-committee">Organizing Committee</h3>
                    <ul>
                        <li><a href="http://home.deib.polimi.it/restelli/MyWebSite/index.shtml">Marcello Restelli</a> (??? Chair)<br>       <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li><a href="http://cs.bme.hu/~gergo/">Gergely Neu</a> (??? Chair)<br>        <em>Universitat Pompeu Fabra - Barcelona, Spain</em> </li>
                        <li><a href="https://home.deib.polimi.it/trovo/index.html">Francesco Trovò</a><br>        <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li><a href="http://albertometelli.github.io">Alberto Maria Metelli</a><br>       <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li><a href="https://t3p.github.io/">Matteo Papini</a><br>      <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li>Giorgia Ramponi<br>      <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li><a href="https://andreatirinzoni.github.io/">Andrea Tirinzoni</a><br>      <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li>Lorenzo Bisi<br>      <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li>Mirco Mutti<br>     <em>Universita di Bologna - <em>Bologna</em>, Italy</em></li>
                        <li>Edoardo Vittori<br>     <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li><a href="https://www.unibo.it/sitoweb/amarildo.likmeta2/">Amarildo Likmeta</a><br>    <em><em>Universita di Bologna - <em>Bologna</em>, Italy</em></em></li>
                        <li>Pierre Liotet<br>    <em>Politecnico di Milano - Milan, Italy</em></li>
                        <li>Luca Sabbioni<br>    <em>Politecnico di Milano - Milan, Italy</em></li>
                    </ul>
            </div>
        </div>
    </section>